<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/main_assets/css/style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bttn.css/0.2.4/bttn.css">
    
    <link rel="icon" href="{{url_for('static', filename='../static/main_assets/images/favicon.png') }}" type="image/x-icon">
    

    <title> {% block pagetitle %}
        {% endblock pagetitle %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='../static/main_assets/images/PlantSecure-Long-Coloured.png') }}" alt="Brand Logo" style="width: 150px; height: 37px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active custom-nav-item">
                        <a class="nav-link" href="./mlengine_home">Home</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="./plantsecure_detect_disease">Detect Disease</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="./plantsecure_realtime_weather_tracking">Realtime Weather Tracking</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="./plantsecure_marketplace">Market Place</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- Profile Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ url_for('static', filename='user_dash_assets/img/profiles/' + (current_user.profile_image or 'default.png')) }}" alt="Profile" class="profile-icon" style="width: 50px; height: 50px;">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            {% if current_user.is_authenticated %}
                            <li><a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-user icon-color"></i> {{ current_user.username }}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url_for('user_profile_dashboard') }}"><i class="fas fa-user-circle icon-color"></i> Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt icon-color"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock body %}
    <div class="footer-basic">
        <p style="text-align: center;">PlantSecure | &copy; 2024 | All rights reserved.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>