{% extends 'base.html' %}
{% block pagetitle %}
Plantsecure | User-Panel | Home
{% endblock pagetitle %}
{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h3 class="display-5 get-started-heading"><b>Hello there!</b></h3>
        <p class="lead get-started-lead">Welcome To <b>Plantsecure</b>. Our advanced AI model is designed to help <br>you detect plant diseases with ease, ensuring your crops stay healthy and productive</p>
    </div>
</div>

<center class="laptop">
    <a href="./plantsecure_detect_disease">
        <button class="btn btn-large start-button"><span>Detect Disease</span></button>
    </a>
</center>



{% endblock body %}